body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff7f7;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 22px 40px;
    background: #fff;
    font-size: 18px;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    color: #333;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.cart-icon {
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.hero {
    display: flex;
    align-items: center;
    padding: 60px 40px;
    gap: 40px;
}

.text-box h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #333;
}

.text-box p {
    margin: 15px 0;
    font-size: 18px;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #d8a6b2;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.hero-img img {
    width: 420px;
    border-radius: 20px;
}

.products {
    text-align: center;
    padding: 40px;
}

.products h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 30px;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.07);
}

.card img {
    width: 100%;
    border-radius: 14px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: #d48a9e;
}

button {
    padding: 10px;
    width: 100%;
    background: #d8a6b2;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #ffeef2;
    margin-top: 40px;
}

/* CART PANEL */
.cart-panel {
    position: fixed;
    right: -350px;
    top: 0;
    width: 320px;
    height: 100%;
    background: white;
    box-shadow: -3px 0 12px rgba(0,0,0,0.1);
    padding: 20px;
    transition: 0.4s;
    z-index: 999;
}

.cart-panel.open {
    right: 0;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background: #fff2f4;
    padding: 10px;
    border-radius: 10px;
}

.remove-btn {
    background: none;
    border: none;
    color: #d98795;
    cursor: pointer;
    font-size: 16px;
}

.total {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

.checkout-btn, .close-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #d98795;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
